@import 'tailwindcss';

@import '@skeletonlabs/skeleton-svelte';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/cerberus';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility card {
  @apply preset-filled-surface-100-900 space-y-4 p-4;

  & > *:not(:empty) + *:not(:empty) {
    margin-top: calc(var(--spacing) * 5);
  }

  .card-header {
    @apply h4 items-center;
  }

  .card {
    @apply border-surface-200 dark:border-surface-700 border shadow-none;
  }
}
